<div class="container col-md-12" class="page-title">
  <h2><%= @identifier.identifier.capitalize %></h2>
</div>
​
<div class="well client-stats">
  <ul>
  <% PayloadChecker.client_content(@identifier).each do |stat|%>
    <li> <%= stat %> </li>
    <% end %>
  </ul>
</div>

<div class="well client-urls">
  <p><strong>All URLs (most requested to least requested):</strong></p>
  <ul>
    <%  @identifier.all_urls_most_to_least_requested.each do |url| %>
    <li><a href="/sources/<%= @identifier.identifier %>/urls/<%=Url.relative_path(url)%>"><%= url %></a></li><br>
    <% end %>
  </ul>
</div>
​
​
