<h2><%= @identifier.identifier.capitalize %></h2>
​
<p>Average Response Time: <%=  @avg_resp_time %> seconds</p>
<p>Maximum Response Time: <%=  @max_resp_time %> seconds</p>
<p>Minimum Response Time: <%=  @min_resp_time %> seconds</p>
<p>Most Frequent Request Type: <%=  @most_freq_req_type %></p>
<p>All Request Types Used: <%=  @all_verbs %></p>
<p>All URLs (most requested to least requested):</p>
  <%  @all_urls_ranked.each do |url| %>
    <a href="/sources/<%= @identifier.identifier %>/urls/<%=Url.relative_path(url)%>"><%= url %></a><br>
    <% end %>
​
​
<p>All Browsers Used: <%=  @all_browsers %></p>
<p>All Operating Sytems Used: <%=  @all_os %></p>
<p>All Resolutions Used: <%=  @all_res %></p>
